<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>JS FireWallBuilder</title>
        <link rel="stylesheet" href={{url_for( 'static', filename='css/style.css' )}}>
        <link rel="stylesheet" href={{url_for( 'static', filename='css/fontawesome-all.min.css' )}}>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Eczar" rel="stylesheet"> 
        <script src={{url_for( 'static', filename='js/helpbox.js' )}} defer></script>
        <script src={{url_for( 'static', filename='js/firewall.js' )}} defer></script>
    </head>
    <body>
        <div id="wrapper">
            <main class="main">
                <div class="inputheader">Direction</div>
                <div id="group_directions" class="inputgroup">
                    <div id="btn_forward" class="choosebutton">F</div>
                    <div id="btn_input" class="choosebutton">I</div>
                    <div id="btn_output" class="choosebutton">O</div>
                </div>
                <div class="inputheader">Protocols</div>
                <div id="group_protocols" class="inputgroup">
                    <div id="btn_tcp" class="choosebutton">TCP</div>
                    <div id="btn_udp" class="choosebutton">UDP</div>
                    <div id="btn_icmp" class="choosebutton">ICMP</div>
                </div>
                <div class="inputheader">From</div>
                <div class="inputgroup">
                    <input id="ip_from" type="text">
                </div>
                <div class="inputheader">To</div>
                <div class="inputgroup">
                    <input id="ip_to" type="text">
                </div>
                <div class="inputheader">Ports</div>
                <div class="inputgroup">
                    <input id="ports" type="text">
                </div>
                <div class="inputheader">Comment</div>
                <div class="inputgroup">
                    <input id="comment" type="text">
                </div>
            </main>
            <div class="main" id="firewallheader">
                <h2>Current Firewall</h2>
            </div>
            <aside class="main">                
                <table>
                    <tr>
                        <th>Nr</th>
                        <th>Directions</th>
                        <th>Protocols</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Ports</th>
                        <th>Comment</th>
                    </tr>
                </table>
            </aside>
            <div id="toolbarheader">
                <h2>Commands</h2>
            </div>
            <footer>
                <div id="updateRow" class="toolbutton"><i class="fas fa-check"></i></div>
                <div id="saveFirewall" class="toolbutton"><i class="fas fa-cloud-upload-alt"></i></div>
                <div id="loadFirewall" class="toolbutton"><i class="fas fa-cloud-download-alt"></i></div>
                <div id="compile" class="toolbutton"><i class="fas fa-cogs"></i></div>
            </footer>
            <div id="helpbox">            
                <i class="fas fa-question"></i>
                <div id="helptext"></div>
            </div>
            <div id="messageWrapper">
                <div id="message">
                    <h2 id="messageHeader"></h2>
                    <div id="messageText"></div>
                    <div id="hideMessage" class="toolbutton"><i class="fas fa-check"></i></div>
                </div>
            </div>
            <textarea rows="50" class="script" id="script"></textarea>
            <nav>
                <div id="saveScript" class="toolbutton"><i class="fas fa-save"></i></div>
                <div id="scriptClipboard" class="toolbutton"><i class="fas fa-clipboard"></i></div>
                <div id="closeScript" class="toolbutton"><i class="fas fa-window-close"></i></div>
            </nav>         
        </div>        
    </body>
</html>
